<div class="container-fluid" id="milkyway">
  <div class="layer layer-1" data-type="parallax" data-depth="0.10"></div>
  <div class="layer layer-2" data-type="parallax" data-depth="0.20"></div>
  <div class="layer layer-3" data-type="parallax" data-depth="0.50"></div>
  <div class="layer layer-4" data-type="parallax" data-depth="1.00"></div>
    <!-- <div id="slider" class="container-fluid slider">
      <div class="wrapper">
        <div id="items" class="items">
          <span class="slide">Slide 1</span>
          <span class="slide">Slide 2</span>
          <span class="slide">Slide 3</span>
          <span class="slide">Slide 4</span>
          <span class="slide">Slide 5</span>
          <span class="slide">Slide 6</span>
          <span class="slide">Slide 7</span>
          <span class="slide">Slide 8</span>
          <span class="slide">Slide 9</span>
          <span class="slide">Slide 10</span>
        </div>
      </div>
      <a id="prev" class="control prev"></a>
      <a id="next" class="control next"></a>
    </div> -->
    