<!-- <div class="container-fluid" id="milkyway">
  <div class="layer layer-1" data-type="parallax" data-depth="0.10"></div>
  <div class="layer layer-2" data-type="parallax" data-depth="0.20"></div>
  <div class="layer layer-3" data-type="parallax" data-depth="0.50"></div>
  <div class="layer layer-4" data-type="parallax" data-depth="1.00"></div>
</div> -->
<div class="container">
  <div class="row" *ngFor="let contact of cl | filter:searchTerm" #cl>
    <div class="col-2">
      <p>{{ contact.name }}</p>
    </div>
    <div class="col-2">
      <p>{{ contact.surname }}</p>
    </div>
    <div class="col-2">
      <p>{{ contact.city }}</p>
    </div>
    <div class="col-2">
      <p>{{ contact.email }}</p>
    </div>
    <div class="col-2">
      <p>{{ contact.phone }}</p>
    </div>
    <div class="col-1">
      <p>{{ contact.active }}</p>
    </div>
    <div class="col-1">
      <p>{{ contact.id }}</p>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-3">
      <button class="btn btn-primary" (click)="sortByName()">sort by name</button>
    </div>
    <div class="col-3">
      <button class="btn btn-primary" (click)="sortBySurname()">sort by surname</button>
    </div>
    <div class="col-3">
      <button class="btn btn-primary" (click)="sortByCity()">sort by city</button>
    </div>
    <div class="col-3">
      <div class="input">
        <input type="checkbox" id="checkbox" #checkbox (change)="toggleActivity()">
      </div>
      <p>show active</p>
    </div>
  </div>
  <div class="row">
    <form>
      <div class="form-row">
        <div class="form-group col-md-6">
          <input type="text" class="form-control" id="nameInput" placeholder="Name" name="searchTerm" [(ngModel)]="searchTerm">
        </div>
        <div class="form-group col-md-4">
          <select id="inputState" class="form-control">
            <option selected>City</option>
            <option>...</option>
          </select>
        </div>
      </div>
    </form>
  </div>
</div>
    